<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="qnyp, LLC.">

    <title><%= current_page.data.title || "Middleman" %></title>

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="qnyp, LLC.">
    <meta property="og:description" content="We creating the online community for animation fans from Akihabara.">
    <meta property="og:url" content="https://qnyp.company/">
    <meta property="og:title" content="qnyp - キュニップ">
    <meta property="og:image" content="https://qnyp.company/images/qnyp-icon-logo.png">
    <meta property="fb:admins" content="junya.ogura">

    <style media="screen">
      body {
        font-family: "Montserrat", sans-serif;
      }
    </style>

    <link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.0/normalize.css" media="screen">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css" media="screen">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link href="//fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>
  <body class="pa4 bg-near-white dark-gray">
    <%= yield %>
  </body>
</html>
